<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="mobilespyEntities" connectionString="metadata=res://*/MBSDataSourceModel.csdl|res://*/MBSDataSourceModel.ssdl|res://*/MBSDataSourceModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=hqw;database=mobilespy;password=Pass1234;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="mobilespyEntities1" connectionString="metadata=res://*/MBSDataSource.csdl|res://*/MBSDataSource.ssdl|res://*/MBSDataSource.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=hqw;database=mobilespy;password=Pass1234;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>