<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mobilespyEntities" connectionString="metadata=res://*/mobilespy.csdl|res://*/mobilespy.ssdl|res://*/mobilespy.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=admin;database=mobilespy&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>